##
## Application artifacts
##

# direnv cache for Nix shells
/.direnv/

# Rust build directory
/target/

##
## Editor artifacts
##

/.history/
{% if project-kind == "embedded" %}/.vscode/.cortex-debug.*{% endif %}
